<div class="content-wrapper" [style]="getBirdSilhouette() | async">
  <div class="content">
    <div class="upper-row">
      <div class="green-square">
        <picture>
          <img src="assets/icons/png/{{getGroupIcon()}}.webp" alt="{{getGroupIcon()}} hummingbirds"
            class="group" aria-hidden="true">
        </picture>
      </div>
      <div class="title-border">
        <div class="title">
          <span [innerHTML]="displayName(card) | iconize"></span>
        </div>
        <div class="scientific">{{card['Scientific name']}}</div>
      </div>
    </div>
    <div class="lower-column">
      <div class="attract-icon">
        <picture>
          <img src="assets/icons/png/attract.webp" alt="attract hummingbirds"
            class="attract" aria-hidden="true">
        </picture>
      </div>
      <div class="benefit-square">
        <picture>
          <img src="assets/icons/png/{{getBenefitIcon()}}.webp" alt="{{this.card.Benefit}} benefit"
            class="benefit" aria-hidden="true">
        </picture>
      </div>
    </div>
  </div>
</div>
